body{
    background-color: black;
}
.navbar-brand
{
    position: relative;
    background: url(img1.jpg);
    width: 120px;
    height: 105px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 60px;
    padding-top: 10px;
}
section.navigation {
    padding-bottom: 35px;
}
.wrapper {
    display: flex;
}