<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style>
  .text-white{
    color: white;
  }
  .img1{
    width: 277px;
    height: 307px;
  }
</style>
<body>
  <section class="navigation">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="rec">Recommendation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="search" aria-label="search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white">Top books</h1>
      </div>
    </div>
  </div>
  </section>




  <!-- Top books section -->
  <section class="home">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center w-100 h-100">
            <img src="http://images.amazon.com/images/P/0345339703.0..." alt="...">
          </div>
            
        </div>
        {% for i in imgUrl %}
          <div class="carousel-item ">
            <div class="d-flex justify-content-center w-100 h-100">
              <img src={{ i }}  alt="...">
            </div>
          </div>
        {% endfor %}
          <div class="carousel-item">
            <div class="d-flex justify-content-center w-100 h-100">
              <img src="http://images.amazon.com/images/P/0345339681.0..." alt="...">
            </div>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  
  
  
  
  
  <!-- Recommendation part of the site -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white" style="font-size: 80px ;text-align: left;padding-top: 30px">Trending Books</h1>
      </div>

      <div class="col-3" style="margin-top: 50px;">
        <div class="card">
          <div class="card-body">
            <img class="img1" src="http://images.amazon.com/images/P/0671758896.0..." alt="">
          </div>
        </div>
      </div>
      <div class="col-3" style="margin-top: 50px;">
        <div class="card">
          <div class="card-body">
            <img class="img1" src="http://images.amazon.com/images/P/0671758896.0..." alt="">
          </div>
        </div>
      </div>
      <div class="col-3" style="margin-top: 50px;">
        <div class="card">
          <div class="card-body">
            <img class="img1" src="http://images.amazon.com/images/P/0671758896.0..." alt="">
          </div>
        </div>
      </div>
      <div class="col-3" style="margin-top: 50px;">
        <div class="card">
          <div class="card-body">
            <img class="img1" src="http://images.amazon.com/images/P/0671758896.0..." alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>